.govuk-main-wrapper {
    h1:not([class]) {
        @extend .govuk-heading-xl;
    }
    h2:not([class]) {
        @extend .govuk-heading-l;
    }
    h3:not([class]) {
        @extend .govuk-heading-m;
    }
    h4:not([class]) {
        @extend .govuk-heading-s;
    }
    p:not([class]) {
        @extend .govuk-body;
    }
    a:not([class]) {
        @extend .govuk-link;
    }
    ul:not([class]) {
        @extend .govuk-list;
        @extend .govuk-list--bullet;
    }
    ol:not([class]) {
        @extend .govuk-list;
        @extend .govuk-list--number;
    }
}
