.govuk-main-wrapper {
    h1 {
        @extend .govuk-heading-xl;
    }
    h2 {
        @extend .govuk-heading-l;
    }
    h3 {
        @extend .govuk-heading-m;
    }
    h4 {
        @extend .govuk-heading-s;
    }
    p {
        @extend .govuk-body;
    }
    a {
        @extend .govuk-link;
    }
    ul {
        @extend .govuk-list;
        @extend .govuk-list--bullet;
    }
    ol {
        @extend .govuk-list;
        @extend .govuk-list--number;
    }
}
