@mixin font-face($font-family, $path, $weight, $style) {
  @font-face {
    font-display: swap;
    font-family: '#{$font-family}';
    font-style: #{$style};
    font-weight: #{$weight};
    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
    url('#{$path}.woff2') format('woff2'), url('#{$path}.woff') format('woff'),
    url('#{$path}.ttf') format('truetype'), url('#{$path}.svg') format('svg');
  }
}
