.search-form {
    display:table;
}

.search-form__input {
    display:table-cell; 
    position:relative; 
    border: 0; 
    z-index: 2;
    &:focus {
        box-shadow: inset 0 0 0 2px;
        border: 0;
    }
}

.search-form__submit-wrapper {
    display: table-cell; 
    position: relative; 
    vertical-align: top; 
    width: 1%; 
    top: 2px;
}

.search-form__button {
    text-indent: -5000px; 
    width: 40px; 
    height: 40px; 
    top: -2px;
}

.search-form__icon {
    position: absolute; 
    display: block; 
    left: 4px; 
    top: 2px
}
