.govuk-pagination__container {
    display: flex;
    justify-content: center;
    ul {
        @extend .govuk-list;
        @include govuk-responsive-margin(5, "top");
        @include govuk-responsive-margin(5, "bottom");
        li {
            display: block;
            float: left;
            @include govuk-responsive-margin(3, "right");
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    
}

.govuk-main-wrapper {
    display: block;
        @include govuk-responsive-padding(6, "top");
        @include govuk-responsive-padding(6, "bottom");

    article {
        @include govuk-responsive-padding(6, "bottom");

    }

    @include govuk-media-query($from: tablet) {
        @include govuk-responsive-padding(7, "top");
        @include govuk-responsive-padding(7, "bottom");
        article {
            @include govuk-responsive-padding(6, "bottom");
    
        }
    } 
}   




